<body class="dark">
  <div class="page">
    <header style="display:flex">
      <a href="/" data-turbolinks-navigate-back>back</a>
      <span style="flex:1"></span>
      {{#previousImageLink}}
      <a href="{{.}}" data-turbolinks-action="replace">previous</a>
      {{/previousImageLink}}
      {{#nextImageLink}}
      <a href="{{.}}" data-turbolinks-action="replace">next</a>
      {{/nextImageLink}}
    </header>
    <div class="lightbox">
      <div class="item" style="background-color:{{color}}"></div>
    </div>
  </div>
</body>
