body {
  background-color: #f5f7fa;
  color: #40484D;
  font-family: "Fira Sans", sans-serif;
  transition-property: background-color, color, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

a {
  color: inherit;
}

body.loading {
  opacity: 0;
}

body.dark {
  background-color: #0f1215;
  color: #adb6ba;
}

.turbolinks-progress-bar {
  visibility: hidden;
}

.masthead {
  background-color: white;
  padding: 2em;
  border-bottom: 1px solid #E0E5EB;
}

.container {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.settings-controls {
  float: right;
}

.settings-controls input {
  margin-right: 0.5em;
}

.settings-controls label {
  padding: 0.5em 0;
}

.grid {
  padding-top: 40px;
  display: grid;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2em;
}

.grid div,
.grid a {
  color: rgba(255, 255, 255, 0.4);
  font-size: 20px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  min-height: 200px;
}

header {
  display: flex;
  border-bottom: 1px solid rgba(255,255,255,.08);
}

header a {
  border-left: 1px solid rgba(255,255,255,.08);
  display: inline-block;
  padding: 1em;
  text-decoration: none;
}

header a:first-child {
  border-left: none;
  border-right: 1px solid rgba(255,255,255,.08);
}

header a:hover {
  color: white;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.lightbox {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox .item {
  height: 500px;
  width: 500px;
}
