body {
  background-color: #f5f7fa;
  color: #40484D;
  font-family: "Fira Sans", sans-serif;
  transition-property: background-color, color, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

a {
  color: inherit;
}

body.loading {
  opacity: 0;
}

body.dark {
  background-color: #0f1215;
  color: #adb6ba;
}

.turbolinks-progress-bar {
  visibility: hidden;
}

.masthead {
  background-color: white;
  padding: 2em;
  border-bottom: 1px solid #E0E5EB;
}

.container {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.settings-controls {
  float: right;
}

.settings-controls input {
  margin-right: 0.2em;
  vertical-align: middle;
}

.settings-controls label {
  padding: 0.5em 0;
}

.grid-1 {
  padding-top: 40px;
  display: grid;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2em;
}

/* items */

.grid-1 div,
.grid-1 a {
  color: rgba(255, 255, 255, 0.4);
  font-size: 20px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  min-height: 200px;
}

.color1 {
  background: #b03532;
}
.color2 {
  background: #33a8a5;
}
.color3 {
  background: #ff9069;
}
.color4 {
  background: #6a478f;
}
.color5 {
  background: #3d8bb1;
}
.color6 {
  background: #4464a1;
}
.color7 {
  background: #e03f3f;
}
.color8 {
  background: #59a627;
}
.color9 {
  background: #b03532;
}
.color10 {
  background: #4464a1;
}
.color11 {
  background: #33a8a5;
}
.color12 {
  background: #ff9069;
}
.color13 {
  background: #3d8bb1;
}
.color14 {
  background: #da6f2b;
}
.color15 {
  background: #59a627;
}
.color16 {
  background: #30997a;
}
.color17 {
  background: #6a478f;
}
.color18 {
  background: #da6f2b;
}

header {
  border-bottom: 1px solid rgba(255,255,255,.08);
}

header a {
  border-left: 1px solid rgba(255,255,255,.08);
  display: inline-block;
  padding: 1em;
  text-decoration: none;
}

header a:first-child {
  border-left: none;
  border-right: 1px solid rgba(255,255,255,.08);
}

header a:hover {
  color: white;
}

.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.lightbox .item {
  height: 500px;
  width: 500px;
}
